@import "tailwindcss";

:root {
  --cream: #f2efe7;
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .cream {
    color: var(--cream);
  }
}

/* Hilangkan cursor di seluruh website */
* {
  cursor: none !important;
}

body {
  cursor: none !important;
}

/* Hilangkan juga pada elemen interaktif */
a,
button,
input,
textarea,
select {
  cursor: none !important;
}
